* {
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: antiquewhite;
}

.content {
    background-color: white;
    width: 60%;
    margin: 30px auto;
    padding: 10px 30px;
}

h1 {
    margin-bottom: 12px;
}

h3 {
    margin: 6px 0;
    text-align: left;
}

ul,
ol {
    text-align: left;
}

.footer {
    margin-top: 10px;
}